[alias]
  aa = add .
  ap = add -p
  br = branch
  cm = commit
  co = checkout
  lg = log --oneline --graph
  pl = pull
  ps = push
  st = status
[pull]
  rebase = true
[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
